.container {
    position: fixed;
    display: flex;

    .map-wrapper {
        width: 75vw;
        height: 100vh;
        position: relative;

        mgl-map {
            height: 100%;
            width: 100%;
            position: relative;
        }
    }
}