.container {
    position: fixed;
    display: flex;

    app-basemap-component {
        width: 75vw;
        height: 100vh;
        position: relative;
    }

    app-geojson-input {

        background-color: #ddd;
        width: 25vw;
        height: 100vh;
        position: relative;

    }
}