<mat-toolbar color="primary">
    <span>Feature Viewer</span>
    <button mat-flat-button color="primary" aria-label="Example icon button with a home icon" [routerLink]="'/'">
        <mat-icon>home</mat-icon>
    </button>

</mat-toolbar>
<div class="container">
    <div class="map-wrapper">
        <mgl-map 
        [style]="'mapbox://styles/mapbox/streets-v9'" 
        [zoom]="[9]" 
        [center]="[-71.073283, 42.4175]"
        [projection]="{name: 'globe'}"
        [fitBounds]="bounds$ | async"
        (mapCreate)="mapLoaded($event)">

            <mgl-geojson-source
                id="geo-features"
                [data]="sources$ | async">
            </mgl-geojson-source>

            <ng-container *ngFor="let layer of layers$">
                <mgl-layer 
                [id]="layer.id" 
                [type]="layer.type" 
                [source]="layer.source" 
                [layout]="layer.layout" 
                [paint]="layer.paint"
                [filter]="layer.filter" 
                [before]="layer.before" 
                [sourceLayer]="layer.sourceLayer">
                </mgl-layer>
            </ng-container>

        </mgl-map>
    </div>
    <div class="interface">
        <p class="error-message" *ngIf="error">Error</p>
        <button mat-flat-button color="primary" (click)="load()">Load</button>
        <textarea 
        type="text" 
        name="featurecollection" 
        id="featureCollection" 
        [ngModel]="formInput | async"
        (ngModelChange)="setFeatureCollection($event)">
        </textarea>
    </div>
</div>