<mat-toolbar color="primary">
    <span>Feature Viewer</span>
    <button mat-button color="accent" [routerLink]="'/'">Home</button>

</mat-toolbar>
<div class="container">
    <div class="map-wrapper">
        <mgl-map [style]="'mapbox://styles/mapbox/streets-v9'" [zoom]="[9]" [center]="[-74.5, 40]"
            (mapCreate)="mapLoaded($event)">
        </mgl-map>
    </div>
    <div class="interface">
        <h4>FeatureCollection</h4>
        <p class="error-message" *ngIf="error">Error</p>
        <textarea type="text" name="featurecollection" id="" [(ngModel)]='placeholder' (ngModelChange)="setFeatureCollection($event)" ></textarea>
    </div>
</div>