.container {
    position: fixed;
    display: flex;

    .map-wrapper {
        width: 75vw;
        height: 100vh;
        position: relative;

        mgl-map {
            height: 100%;
            width: 100%;
            position: relative;
        }
    }

    .interface {

        background-color: #ddd;
        width: 25vw;
        height: 100vh;
        position: relative;
        text-align: center;

        button {
            margin: 0.5rem auto;
        }

        .error-message {
            color: #f00;
        }

        textarea {
            width: -webkit-fill-available;
            height: -webkit-fill-available;
            ;
        }
    }
}