<mat-toolbar data-test="toolbar" color="primary">
    <span>Feature Viewer</span>
    <button mat-flat-button color="primary" aria-label="Example icon button with a home icon" [routerLink]="'/'">
        <mat-icon>home</mat-icon>
    </button>

</mat-toolbar>
<div class="container">
    <app-basemap-component></app-basemap-component>
    <div data-test="interface" class="interface">
        <p class="error-message" *ngIf="error$ | async">Error</p>
        <button mat-flat-button color="primary" (click)="this.fcvs.loadFeatureCollectionFromFile()">Load</button>
        <ngx-codemirror
        class="codemirror"
        [ngModel]="formInput | async"
        (ngModelChange)="this.fcvs.handleSetFeatureCollection($event)"
        [options]="codeMirrorOptions"
        ></ngx-codemirror>
    </div>
</div>